body {
  height: 100%;
  margin: 0;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'メイリオ',Meiryo,Helvetica,Arial,Sans-Serif;
  -webkit-font-smoothing: antialiased;
}

.space {
  margin-top: 10%;
}