body {
  height: 100%;
  margin: 0;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'メイリオ',Meiryo,Helvetica,Arial,Sans-Serif;
  -webkit-font-smoothing: antialiased;
}

.space {
  margin-top: 1em;
}

.space-left {
  margin-left: 1em;
}

.subjects {
  margin: 0;
}

.label-default {
  background-color: #FFF;
  border: 1px solid #999;
  color: #555;
}

.table {
  table-layout: fixed;
}

.yellow {
  color: gold;
}