body {
  height: 100%;
  margin: 0;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'メイリオ',Meiryo,Helvetica,Arial,Sans-Serif;
  -webkit-font-smoothing: antialiased;
}

#brand {
  font-weight: bold;
}

.banner {
  background-color: #3D4A5F;
  color: #EEE;
}

.space {
  margin-top: 1em;
}

.unspace {
  margin-top: -0.6em;
}

.space-left {
  margin-left: 1em;
}

.subjects {
  margin: 0;
}

.label-default {
  background-color: #FFF;
  border: 1px solid #999;
  color: #555;
}

.table {
  table-layout: fixed;
}

.yellow {
  color: gold;
}

.spacing-lg {
  margin-top: 15%;
}

.spacing-md {
  margin-top: 10%;
}

.spacing-sm {
  margin-top: 5%;
}

.spacing-ty {
  margin-top: 2%;
}

.lg {
  font-size: 2em;
}

.md {
  font-size: 1.4em;
}


.lg {
  font-size: 5em;
}

.exlg {
  font-size: 10em;
}

.btn-lg {
  padding: 48px 20%;
  font-size: 30px;
  line-height: 1.3333333;
  border-radius: 12px;
}

